<div class="container">
  <div class="row">
    <div class="col-12">
      <form action="/users" method="GET" class="form-wrapper">
        <input
          class="form-control search"
          type="text"
          name="q"
          placeholder="🔎 Search User"
          value="<%- search %>"
        />
      </form>
    </div>
  </div>
</div>
