<%- include("../partials/header") %>
<div class="wrapper d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-1"></div>
      <div class="col-lg-6 col-sm-10 text-center">
        <form class="form-signin" method="post" action="/login">
          <h1 class="h3 mb-3 font-weight-normal">Login User</h1>
          <label for="inputEmail" class="sr-only">Email address</label>

          <input
            class="form-control input-box"
            type="email"
            id="email"
            name="email"
            placeholder="name@email.com"
            minlength="11"
            pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?"
            required
          />

          <label for="inputPassword" class="sr-only">Password</label>
          <input
            type="password"
            placeholder="password"
            id="pwd"
            name="pwd"
            minlength="5"
            required
            class="form-control input-box"
          />
          <button class="btn btn-lg btn-info btn-block" type="submit">
            Login
          </button>
        </form>
      </div>
      <div class="col-lg-3 col-sm-1"></div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
